@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Philadelphian-Gothic';
    src: url('../public/Fonts/Philadelphian-Gothic.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'Dhyana';
    src: url('../public/Fonts/Dhyana-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }

@font-face {
    font-family: 'Dhyana';
    src: url('../public/Fonts/Dhyana-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  body {
    font-family: 'Dhyana', serif;
  }